@charset "UTF-8";
* {
  margin: 0em;
  padding: 0em;
}

div#preload {
    display: none;
}

.idea1 {
  box-sizing: border-box;
  border: 0.1em dashed red;
}

.idea2 {
  box-sizing: border-box;
  border: 0.1em dashed blue;
}

.idea3 {
  box-sizing: border-box;
  border: 0.1em dashed yellow;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.megacontainer {
    max-width: 1350px !important;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ib {
  display: inline-block;
}

li {
  list-style: none;
}

.tac {
  text-align: center;
}

/*-----------------------------------*\
  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -10px;
}

.grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%;
}

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%;
}

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.33333%;
}

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.66667%;
}

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%;
}

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%;
}

.grid__col--push-2-of-2, .grid__col--push-3-of-3, .grid__col--push-4-of-4, .grid__col--push-5-of-5, .grid__col--push-6-of-6, .grid__col--push-8-of-8, .grid__col--push-12-of-12 {
  margin-left: 100%;
}

.grid__col--push-1-of-2, .grid__col--push-2-of-4, .grid__col--push-3-of-6, .grid__col--push-4-of-8, .grid__col--push-6-of-12 {
  margin-left: 50%;
}

.grid__col--push-1-of-3, .grid__col--push-2-of-6, .grid__col--push-4-of-12 {
  margin-left: 33.33333%;
}

.grid__col--push-2-of-3, .grid__col--push-4-of-6, .grid__col--push-8-of-12 {
  margin-left: 66.66667%;
}

.grid__col--push-1-of-4, .grid__col--push-2-of-8, .grid__col--push-3-of-12 {
  margin-left: 25%;
}

.grid__col--push-3-of-4, .grid__col--push-6-of-8, .grid__col--push-9-of-12 {
  margin-left: 75%;
}

.grid__col--pull-2-of-2, .grid__col--pull-3-of-3, .grid__col--pull-4-of-4, .grid__col--pull-5-of-5, .grid__col--pull-6-of-6, .grid__col--pull-8-of-8, .grid__col--pull-12-of-12 {
  margin-left: -100%;
}

.grid__col--pull-1-of-2, .grid__col--pull-2-of-4, .grid__col--pull-3-of-6, .grid__col--pull-4-of-8, .grid__col--pull-6-of-12 {
  margin-left: -50%;
}

.grid__col--pull-1-of-3, .grid__col--pull-2-of-6, .grid__col--pull-4-of-12 {
  margin-left: -33.33333%;
}

.grid__col--pull-2-of-3, .grid__col--pull-4-of-6, .grid__col--pull-8-of-12 {
  margin-left: -66.66667%;
}

.grid__col--pull-1-of-4, .grid__col--pull-2-of-8, .grid__col--pull-3-of-12 {
  margin-left: -25%;
}

.grid__col--pull-3-of-4, .grid__col--pull-6-of-8, .grid__col--pull-9-of-12 {
  margin-left: -75%;
}

.grid__col--1-of-5 {
  width: 20%;
}

.grid__col--push-1-of-5 {
  margin-left: 20%;
}

.grid__col--pull-1-of-5 {
  margin-left: -20%;
}

.grid__col--2-of-5 {
  width: 40%;
}

.grid__col--push-2-of-5 {
  margin-left: 40%;
}

.grid__col--pull-2-of-5 {
  margin-left: -40%;
}

.grid__col--3-of-5 {
  width: 60%;
}

.grid__col--push-3-of-5 {
  margin-left: 60%;
}

.grid__col--pull-3-of-5 {
  margin-left: -60%;
}

.grid__col--4-of-5 {
  width: 80%;
}

.grid__col--push-4-of-5 {
  margin-left: 80%;
}

.grid__col--pull-4-of-5 {
  margin-left: -80%;
}

.grid__col--1-of-6 {
  width: 16.66667%;
}

.grid__col--push-1-of-6 {
  margin-left: 16.66667%;
}

.grid__col--pull-1-of-6 {
  margin-left: -16.66667%;
}

.grid__col--5-of-6 {
  width: 83.33333%;
}

.grid__col--push-5-of-6 {
  margin-left: 83.33333%;
}

.grid__col--pull-5-of-6 {
  margin-left: -83.33333%;
}

.grid__col--1-of-8 {
  width: 12.5%;
}

.grid__col--push-1-of-8 {
  margin-left: 12.5%;
}

.grid__col--pull-1-of-8 {
  margin-left: -12.5%;
}

.grid__col--3-of-8 {
  width: 37.5%;
}

.grid__col--push-3-of-8 {
  margin-left: 37.5%;
}

.grid__col--pull-3-of-8 {
  margin-left: -37.5%;
}

.grid__col--5-of-8 {
  width: 62.5%;
}

.grid__col--push-5-of-8 {
  margin-left: 62.5%;
}

.grid__col--pull-5-of-8 {
  margin-left: -62.5%;
}

.grid__col--7-of-8 {
  width: 87.5%;
}

.grid__col--push-7-of-8 {
  margin-left: 87.5%;
}

.grid__col--pull-7-of-8 {
  margin-left: -87.5%;
}

.grid__col--1-of-12 {
  width: 8.33333%;
}

.grid__col--push-1-of-12 {
  margin-left: 8.33333%;
}

.grid__col--pull-1-of-12 {
  margin-left: -8.33333%;
}

.grid__col--2-of-12 {
  width: 16.66667%;
}

.grid__col--push-2-of-12 {
  margin-left: 16.66667%;
}

.grid__col--pull-2-of-12 {
  margin-left: -16.66667%;
}

.grid__col--5-of-12 {
  width: 41.66667%;
}

.grid__col--push-5-of-12 {
  margin-left: 41.66667%;
}

.grid__col--pull-5-of-12 {
  margin-left: -41.66667%;
}

.grid__col--7-of-12 {
  width: 58.33333%;
}

.grid__col--push-7-of-12 {
  margin-left: 58.33333%;
}

.grid__col--pull-7-of-12 {
  margin-left: -58.33333%;
}

.grid__col--10-of-12 {
  width: 83.33333%;
}

.grid__col--push-10-of-12 {
  margin-left: 83.33333%;
}

.grid__col--pull-10-of-12 {
  margin-left: -83.33333%;
}

.grid__col--11-of-12 {
  width: 91.66667%;
}

.grid__col--push-11-of-12 {
  margin-left: 91.66667%;
}

.grid__col--pull-11-of-12 {
  margin-left: -91.66667%;
}

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 10px;
  vertical-align: top;
}
@media (max-width: 700px) {
  .grid__col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 700px) and (min-width: 480px) {
  .grid__col[class*="grid__col--m-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
    width: 50%;
  }
  .grid__col.grid__col--m-1-of-3 {
    width: 33.33333%;
  }
  .grid__col.grid__col--m-2-of-3 {
    width: 66.66667%;
  }
  .grid__col.grid__col--m-1-of-4 {
    width: 25%;
  }
  .grid__col.grid__col--m-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .grid__col[class*="grid__col--s-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
    width: 50%;
  }
  .grid__col.grid__col--s-1-of-3 {
    width: 33.33333%;
  }
  .grid__col.grid__col--s-2-of-3 {
    width: 66.66667%;
  }
  .grid__col.grid__col--s-1-of-4 {
    width: 25%;
  }
  .grid__col.grid__col--s-3-of-4 {
    width: 75%;
  }
}

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid__col--d-first {
  float: left;
}

.grid__col--d-last {
  float: right;
}

.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}
.grid--no-gutter .grid__col {
  padding-left: 0;
}
.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid__col--ab {
  vertical-align: bottom;
}

.grid__col--am {
  vertical-align: middle;
}

::selection {
  background: #eeeeee;
}

::-moz-selection {
  background: #eeeeee;
}

html, body {
  background-color: #def1f5;
  padding: 0 !important;
  margin: 0 !important;
}
@media screen and (max-width: 700px) {
  html, body {
    padding-right: 5px;
  }
}

.preloaderactive {
  overflow: hidden;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  color: white;
}

h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #3a3a3a;
}

h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}

h4 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
}

h5 {
  padding-top: 17px;
  padding-bottom: 17px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #dddddd;
}
@media screen and (max-width: 700px) {
  h5 {
    padding-top: 15px;
  }
}

.space {
  height: 700px;
}

/*loading */
#preloader {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 99;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forest_preloader {
  height: 128px;
  width: 128px;
  background-image: url(IMG/forest.gif);
}

/*header section */
.firstpage-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.firstpage-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
/*
  background-image: url(IMG/logobg.jpg);
  background-size: cover;
  background-attachment: fixed;
*/
}

.logo-container {
  text-align: center;
  width: 380px;
  height: 145px;
}
@media screen and (max-width: 700px) {
  .logo-container {
    width: 305px;
    height: 160px;
  }
}

.logo {
  margin-left: 8px;
  height: 100px;
  width: 366px;
  background-image: url(IMG/logo.png);
}
@media screen and (max-width: 700px) {
  .logo {
    margin-left: 0;
    height: 85px;
    width: 300px;
  }
}

.meta-details {
  padding-top: 5px;
  border-top: 1px solid white;
  margin-top: 15px;
}
@media screen and (max-width: 700px) {
  .meta-details h1 {
    font-size: 18px;
  }
}

.scroll-img {
  width: 12px;
  height: 30px;
  background-image: url(IMG/mouse.png);
}

.scroll-down {
  margin-top: 8px;
  margin-left: 10px;
}

.scroll-down-container {
  padding-bottom: 20px;
  left: 50%;
  margin-left: -55px;
  bottom: 0px;
  width: 110px;
  position: absolute;
  opacity: 0.5;
  transition-duration: 0.5s;
}

.scroll-down-container:hover {
  opacity: 0.75;
}

/*common */
.container {
  z-index: 9;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 700px) {
  .container {
    border-radius: 0px;
  }
}

.heading {
  z-index: 10;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 700px) {
  .heading {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}

.red {
  background-color: #ed5849;
}

.purple {
  background-color: #466585;
}

/*about me */
.about-me {
  margin-top: 150px;
}

.about-me-container {
  padding: 30px;
  line-height: 30px;
}

/*portfolio */
.portfolio-container {
  overflow: hidden;
  padding: 5px;
}

.portfolio {
  margin-top: 150px;
}

.image-container {
  height: 150px;
  transition-duration: 0.25s;
  opacity: 0.85;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .image-container {
    height: 200px;
  }
}

.image-container:hover {
  opacity: 1;
}

/*behance */
.behancetext {
  color: #466585;
}

.behance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 100px;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .behance-container {
    margin-bottom: 10px;
  }
}

.behance-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 15px;
  width: 260px;
  border: 2px solid #466585;
  transition-duration: 0.5s;
}

.behance-button:hover {
  color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: #466585;
}

#behance {
  height: 20px;
  width: 20px;
  background-image: url(IMG/behance.png);
}

/*technologies */
.technologies-toprow {
  padding-top: 50px;
}

.technologies-bottomrow {
  padding-bottom: 20px;
}

.green {
  background-color: #27ae61;
}

.technology {
  margin-top: 150px;
}

.technology-container {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 150px;
  overflow: hidden;
}

/*bar */
.bar-container {
  margin-top: 15px;
  width: 75%;
}

.progressbar {
  height: 10px;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  background-color: #27ae61;
}

.ten {
  width: 10%;
}

.twenty {
  width: 20%;
}

.twentyfive {
  width: 25%;
}

.forty {
  width: 40%;
}

.fifty {
  width: 50%;
}

.sixty {
  width: 60%;
}

.seventyfive {
  width: 75%;
}

.eighty {
  width: 80%;
}

.ninety {
  width: 90%;
}

.basebar {
  height: 10px;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  background-color: #bec3c7;
}

.fullbar {
  height: 10px;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #27ae61;
}

/*icons */
.icon {
  background-size: 100% 100%;
}

.icon-text {
  text-align: center;
  margin-top: 15px;
}

.icon-container {
  padding-top: 30px;
}

.html {
  height: 40px;
  width: 35px;
  background-image: url(IMG/htmllogo.png);
}

.css {
  height: 40px;
  width: 35px;
  background-image: url(IMG/csslogo.png);
}

.js {
  margin-top: 18px;
  margin-bottom: 19px;
  height: 18px;
  width: 34px;
  background-image: url(IMG/jslogo.png);
}

.jquery {
  margin-top: 15px;
  margin-bottom: 16px;
  height: 24px;
  width: 105px;
  background-image: url(IMG/jquerylogo.png);
}

.python {
  height: 40px;
  width: 38px;
  background-image: url(IMG/pythonlogo.png);
}

.rails {
  height: 40px;
  width: 31px;
  background-image: url(IMG/railslogo.png);
}

.ajax {
  margin-top: 16px;
  margin-bottom: 17px;
  height: 22px;
  width: 70px;
  background-image: url(IMG/ajaxlogo.png);
}

.php {
  margin-top: 6px;
  margin-bottom: 6px;
  height: 34px;
  width: 65px;
  background-image: url(IMG/phplogo.png);
}

.java {
  height: 40px;
  width: 30px;
  background-image: url(IMG/javalogo.png);
}

.mysql {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 60px;
  background-image: url(IMG/mysqllogo.png);
}

.bootstrap {
  height: 40px;
  width: 40px;
  background-image: url(IMG/boostraplogo.png);
}

.zurb {
  height: 40px;
  width: 26px;
  background-image: url(IMG/zurblogo.png);
}

.toast {
  margin-top: 16px;
  margin-bottom: 17px;
  height: 22px;
  width: 88px;
  background-image: url(IMG/toastlogo.png);
}

.photoshop {
  height: 40px;
  width: 41px;
  background-image: url(IMG/photoshoplogo.png);
}

.aftereffects {
  height: 40px;
  width: 41px;
  background-image: url(IMG/aftereffectslogo.png);
}

/*FOURGROUP */
.fourgroup-container {
  margin-top: 150px;
}

.tenpixelmargin {
  margin-top: 10px;
}

/*resume */
.resumetext {
  color: white;
}

.download-resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100px;
  width: 100%;
  background-color: #31b4f1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 700px) {
  .download-resume-container {
    margin-bottom: 10px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}

.download-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 190px;
  padding: 10px 15px;
  border: 2px solid white;
  transition-duration: 0.5s;
}

.download-button:hover {
  color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
}

#download-icon {
  margin-right: 8px;
  height: 20px;
  width: 24px;
  background-image: url(IMG/downloadicon.png);
}

/*email */
.emailtext {
  color: white;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100px;
  width: 100%;
  background-color: #ed5849;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 700px) {
  .email-container {
    margin-bottom: 10px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}

.email-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 260px;
  padding: 10px 15px;
  border: 2px solid white;
  transition-duration: 0.5s;
}

.email-button:hover {
  color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
}

#email-icon {
  margin-right: 8px;
  height: 20px;
  width: 24px;
  background-image: url(IMG/mailicon.png);
}

/*location */
.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100px;
  width: 100%;
  background-color: #1bbc9b;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 700px) {
  .location-container {
    margin-bottom: 10px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}

.locationholder {
  width: 275px;
}

#location-icon {
  margin-top: -3px;
  margin-right: 8px;
  height: 25px;
  width: 18px;
  background-image: url(IMG/locationicon.png);
}

/*social media */
.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100px;
  width: 100%;
  background-color: #466585;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 1s;
}
@media screen and (max-width: 700px) {
  .social-media-container {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}

.facebook {
  height: 25px;
  width: 12px;
  background-image: url(IMG/facebook.png);
  transition-duration: 0.75s;
}

.twitter {
  margin: 0px 20px;
  height: 25px;
  width: 31px;
  background-image: url(IMG/twitter.png);
  transition-duration: 0.75s;
}

.skype {
  margin: 0px 20px;
  height: 25px;
  width: 25px;
  background-image: url(IMG/skype.png);
  transition-duration: 0.75s;
}

.in {
  height: 25px;
  width: 25px;
  background-image: url(IMG/in.png);
  transition-duration: 0.75s;
}

.gplus {
  height: 25px;
  width: 28px;
  background-image: url(IMG/gplus.png);
  transition-duration: 0.75s;
}

/*footer */
.back-to-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.back-to-top-holder {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  background-color: #263238;
  transition-duration: 0.25s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.back-to-top-holder:hover {
  background-color: #27424f;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
}

.top {
  margin-top: 15px;
  margin-bottom: 8px;
  height: 16px;
  width: 20px;
  background-image: url(IMG/top.png);
}

.top-text {
  font-size: 16px;
  color: #9adbe9;
}

.footer-container {
  height: 50px;
  background-color: #607d8b;
}
